{% extends "site_base.html" %}

{% load i18n manticore %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
    <h1>{% trans "About Manteresting" %}</h1>

<center><iframe src="http://www.screenr.com/embed/kgys" width="650" height="396" frameborder="0"></iframe></center>

<h2>What is MANteresting.com?</h2>
Glad you asked. Although we are not the first social bookmarking website to hit the Internet, we are the first to specifically cater to the male population. Last time we checked there were 3.4 billion men on earth. It's about time.
<h2>How does it work?</h2>
If you see something you like on the Internet, you can nail it to your profile. This acts like a virtual file cabinet, allowing you to not only organize and store your favorite pictures, but the ability to share them with all of your friends as well.
<h2>Can you tell me more about the structure?</h2>
It's quite simple really. Let's say you are a huge sports fan. Within your profile you can create a workbench (by going to add&gt;workbench) called "Sports", another workbench "Things that make me laugh", and yet another "DIY Projects."

Now, when you see a picture on the web of your favorite quarterback, you can nail that image back to your "Sports" workbench. If you ever want to find that picture in the future, you know exactly where to look. Totally helps you organize all the awesome things you see around the web!
<h2>How can I nail images?</h2>
We are working diligently to increase the number of ways people can upload images the our site. Right now you can go to the "Add" section in the menu bar of your browser and click "Nail." From there you'll be able to upload an image directly from your computer.

The other alternative is to go to the "About" tab in the menu bar and click "Goodies". There you will find a bookmarklet. Drag and drop the link in to your browsers bookmark toolbar (or folder). As you browse the web, simply click the "Nail it" link in your bookmarks bar and you will be able to immediately link an image to your MANteresting profile.

<em>(note: The bookmarklet is very limited in capabilities right now. It might not work on all webpages (like facebook or flickr. We appreciate your patience as we work towards expanding its features). </em>
<h2>How do I remove a nail?</h2>
You must be logged in to your account to edit or delete a nail. Once you've done, find the specific image you want to removed and click it so you view it as a full page. From there you should see some buttons at the top of the picture that allow you to edit or delete the image. If you are having trouble figuring this out, feel free to shoot us an email and we will be happy to do it for you.
<h2>Why friends?</h2>
Like most websites now days, MANteresting allows you the ability to connect with your friends. You can invite them to join MANteresting and when they sign up, you can start following them and all the things they've nailed. If you don't want to follow everything a user nails, you can simply follow specific walls and only get updates when they post thins to their "Funny Pictures" bench. It's social bookmarking on steroids!
<h2>How do I edit my account information?</h2>
Easy. Click on the "Profile" tab in the menu bar at the top of the screen. From this screen, you'll be able to view and change your profile picture, personal bio, location, etc.

{% endblock %}

