{% extends "site_base.html" %}

{% load i18n manticore %}

{% block head_title %}{% trans "Contact" %}{% endblock %}
{% block body_class %}contact{% endblock %}

{% block body %}
    <h1>{% trans "Contact" %}</h1>
<p>MANteresting was co-founded by two dudes that had one goal; Make the internet more awesome. 
Since we are currently operating in Beta mode, there will likely be parts of our website that seem a little odd, don't quite work right, and in rare circumstances are just all together broken. We still have a bunch of features to roll out and we can promise you, your experiences are only going to get better. 
That said, if you have any concerns, comments, or if you have noticed any bugs that you think we should be aware of, don't hesitate to shoot us an email at support@manteresting.com.</p>
{% endblock %}

