<body class="userpage">
{% extends "site_base.html" %}
{% load manticore follow_tags %}

{% block head_title %}{{ object.username }} — Manticore{% endblock %}

{% block body %}
    <div class="user-profile">
        <p class="username">{{ object.username }}</p>
        <p class="stats">Workbenches: {{ object.workbenches.count }}, Nails: {{ object.nails.count }}</p>
        {% follow_form object %}
    </div>
    {% if object.workbenches.count %}
        {% for workbench in object.workbenches.all %}
            <div class="workbench">
                <h1><a href="{{ object.workbench.get_absolute_url }}">{{ object.workbench }}</a></h1>
                {% if workbench.nails.count %}
                    <ul>
                    {% for nail in workbench.nails.all %}
                        {% if nail.thumb %}
                            <li><a href="{{ nail.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ nail.thumb }}" width="{{ nail.thumb.width }}px" height="{{ nail.thumb.height }}px" /></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No nails</p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No workbenches</p>
    {% endif %}
{% endblock %}
</body>
