<ul class="secondary-nav">
    {% if user.is_authenticated %}
        <li>
            <a href="#" class="menu">Add</a>
            <ul class="menu-dropdown">
                <li><a href="{% url nail-add %}">Nail</a></li>
                <li><a href="{% url workbench-add %}">Workbench</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu">About</a>
            <ul class="menu-dropdown">
                <li><a href="{% url about %}">FAQ</a></li>
                <li><a href="{% url goodies %}">Goodies</a></li>
                <li><a href="{% url terms %}">TOS</a></li>
                <li><a href="{% url dmca %}">Copyright</a></li>
                <li><a href="{% url privacy %}">Privacy</a></li>
            </ul>
        </li>
        {% with profile=user.get_profile %}{% if profile.avatar %}<li><img src="{{ MEDIA_URL }}{{ profile.avatar_small }}" width="{{ profile.avatar_small.width }}px" height="{{ profile.avatar_small.height }}px"/></li>{% endif %}{% endwith %}
        <li>
            <a href="#" class="menu">{{ user }}</a>
            <ul class="menu-dropdown">
                <li><a href="{% url acct_email %}">Account</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url acct_logout %}">Log Out</a></li>
            </ul>
        </li>
    {% else %}
        <li>
            <a href="#" class="menu">About</a>
            <ul class="menu-dropdown">
                <li><a href="{% url about %}">FAQ</a></li>
                <li><a href="{% url terms %}">TOS</a></li>
                <li><a href="{% url dmca %}">Copyright</a></li>
                <li><a href="{% url privacy %}">Privacy</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu">Login or Sign Up</a>
            <ul class="menu-dropdown">
                <li><a rel="nofollow" href="{% url socialauth_begin 'twitter' %}?next={% firstof post_login_url request.path %}">via Twitter</a><li>
                <li><a rel="nofollow" href="{% url socialauth_begin 'facebook' %}?next={% firstof post_login_url request.path %}">via Facebook</a></li>
        		<li><a rel="nofollow" href="{% url acct_login %}">Personal</a></li>
            </ul>
        </li>
    {% endif %}
</ul>
