{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    {% for nail in nails %}
        <div class="nail">
            <a href="{{ nail.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ nail.small }}" width="{{ nail.small.width }}px" height="{{ nail.small.height }}px" /></a>
            <p>{{ nail.description }}</p>
            <ul>
                <li><a href="{% url user slug=nail.workbench.user.username %}">{{ nail.workbench.user }}</a> onto <a href="{{ nail.workbench.get_absolute_url }}">{{ nail.workbench.title }}</a></li>
            </ul>
        </div>
    {% endfor %}

{% endblock %}
