{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Beta" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <script type="text/javascript">
       $(document).ready(function() {
           var $loading = $("<div class='loading'><p>Loading more items&hellip;</p></div>"),
           $footer = $('footer'),
           opts = {
             offset: '100%'
             };

             $footer.waypoint(function(event, direction) {
                 $footer.waypoint('remove');
                 $('body').append($loading);
                 $.get($('.more a').attr('href'), function(data) {
                   var $data = $(data);
                   $('#container').append($data.find('.article'));
                   $loading.detach();
                   $('.more').replaceWith($data.find('.more'));
                   $footer.waypoint(opts);
                 });
               }, opts);

             $('.container').imagesLoaded(function() {
                   $('.nail').wookmark({offset: 13, itemWidth: 241});
               });
               $(window).resize(function() {
                 $('.nail').wookmark({offset: 13, itemWidth: 241});
               });
       });
     </script>

    {% for nail in nails %}
        {% include "_nail.html" %}
    {% endfor %}
{% endblock %}
