{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load phileo_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
<link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.wookmark.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ga.js"></script>

{% phileo_css %}
{% phileo_js %}
{% endblock %}

{% block header %}
   <div id="header">
        <a id="clickable"  href="{% url home %}"></a>
        <div id="socialbox">
            <ul class="social">
                <li><a href="http://www.facebook.com/manteresting" target="_blank"><img title="Facebook Us" src="{{ STATIC_URL }}/images/manface.png"></a></li>
                <li><a href="http://twitter.com/manteresting" target="_blank"><img title="Follow Us" src="{{ STATIC_URL}}/images/mantweet.png"></a></li>
                <li><a href="{% url about %}"><img title="How it Works" src="{{ STATIC_URL }}/images/tutorial.png"></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block nav %}
    {% block search %}
        <div class="search">
            <form method="GET" action="/search/">
                <input id="id_search_query" name="q" type="text" placeholder="Search">
                <input class="btn" type="submit" value="Search">
            </form>
        </div>
    {% endblock search %}
    {% if user.is_authenticated %}
        <ul>{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <!-- <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li> -->
        {% endspaceless %}</ul>
    {% endif %}

        <ul class="main-menu {{ main_menu_item }}">{% spaceless %}
            {% if user.is_authenticated %}
                <li class="workers-you-follow"><a href="{% url home %}">{% trans "People you follow" %}</a></li>
                <li class="all"><a href="{% url all %}">{% trans "Everything" %}</a></li>
            {% else %}
                <li class="all"><a href="{% url home %}">{% trans "Everything" %}</a></li>
            {% endif %}
        {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
