{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load phileo_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.wookmark.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>

{% phileo_css %}
{% phileo_js %}
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul>{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
