{% extends "site_base.html" %}
{% load manticore %}

{% block head_title %}Nail{% endblock %}

{% block body %}
    <div class="nail">
        <h1>Workbench: <a href="{{ object.workbench.get_absolute_url }}">{{ object.workbench }}</a></h1>
        <img src="{{ object.thumb.url }}" width="{{ object.thumb.width }}px" height="{{ object.thumb.height }}px"/>
        <p>{{ object.description }}</p>
        <form action="." method="POST">
            <p>Do you really want to delete this nice Nail?</p>
            <input type="submit" class="btn primary" value="Yes"/>
            <input type="reset" class="btn" value="No"/>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
