{% extends "site_base.html" %}
{% load manticore %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% if cloned_from %}Repin{% else %}Upload{% endif %}{% endblock %}

{% block body %}
    {% if cloned_from %}
        <h1>Repin</h1>
    {% else %}
        <h1>Upload</h1>
    {% endif %}

<form action="" method="POST" enctype="multipart/form-data">
    {% if cloned_from %}
    <div class="clearfix">
        <div class="input">
            <img src="{{ MEDIA_URL }}{{ cloned_from.small }}" width="{{ cloned_from.small.width }}px" height="{{ cloned_from.small.height }}px" />
        </div>
    </div>
    {% endif %}

    <div class="clearfix{% if 'workbench' in form.errors %} error{% endif %}">
        {{ form.workbench.label_tag }}
        <div class="input">
            {{ form.workbench }}
            <span class="help-inline">{% if form.errors.workbench %}{{ form.errors.workbench.0 }}{% endif %}</span>
        </div>
    </div>
    <div class="clearfix{% if 'original' in form.errors %} error{% endif %}">
        {{ form.original.label_tag }}
        <div class="input">
            {{ form.original }}
            <span class="help-inline">{% if form.errors.original %}{{ form.errors.original.0 }}{% endif %}</span>
        </div>
    </div>
    <div class="clearfix{% if 'description' in form.errors %} error{% endif %}">
        {{ form.description.label_tag }}
        <div class="input">
            {{ form.description }}
            <span class="help-inline">{% if form.errors.description %}{{ form.errors.description.0 }}{% endif %}</span>
        </div>
    </div>
    <div class="input"><input type="submit" value="{% if cloned_from %}Repin{% else %}Upload{% endif %}" class="btn primary"/></div>
    {% csrf_token %}
</form>
{% endblock %}

