{% extends "site_base.html" %}
{% load manticore %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% if cloned_from %}Nail It!{% else %}{% if object %}Edit{% else %}Upload{% endif %}{% endif %}{% endblock %}

{% block body %}
    {% if cloned_from %}
        <h1>Nail It!</h1>
    {% else %}
        {% if object %}
        <h1>Edit</h1>
        {% else %}
        <h1>Upload</h1>
        {% endif %}
    {% endif %}

<form action="" method="POST" enctype="multipart/form-data">
    {% if cloned_from %}
    <div class="clearfix">
        <div class="input">
            <img src="{{ MEDIA_URL }}{{ cloned_from.small }}" width="{{ cloned_from.small.width }}px" height="{{ cloned_from.small.height }}px" />

        </div>
    </div>
    {% endif %}

    <div class="clearfix{% if 'workbench' in form.errors %} error{% endif %}">
        {{ form.workbench.label_tag }}
        <div class="input">
            {{ form.workbench }}
            <span class="help-inline">{% if form.errors.workbench %}{{ form.errors.workbench.0 }}{% endif %}</span>
        </div>
    </div>
    {% if form.original %}
    <div class="clearfix{% if 'original' in form.errors %} error{% endif %}">
        {{ form.original.label_tag }}
        <div class="input">
            {{ form.original }}
            <span class="help-inline">{% if form.errors.original %}{{ form.errors.original.0 }}{% endif %}</span>
        </div>
    </div>
    {% else %}
    <div class="clearfix{% if 'media' in form.errors %} error{% endif %}">
        {{ form.original.label_tag }}
        <div class="input">
            {% if cloned_from %}
                {{ form.media }}
            {% else %}
                <img src="{{ form.media.value }}"/>
                {{ form.media }}
                {{ form.source_url }}
                {{ form.source_title }}
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="clearfix{% if 'description' in form.errors %} error{% endif %}">
        {{ form.description.label_tag }}
        <div class="input">
            {{ form.description }}
            <span class="help-inline">{% if form.errors.description %}{{ form.errors.description.0 }}{% endif %}</span>
        </div>
    </div>
    <div class="input"><input type="submit" value="{% if cloned_from %}Renail{% else %}{% if object %}Edit{% else %}Upload{% endif %}{% endif %}" class="btn primary"/></div>
    {% csrf_token %}
</form>
{% endblock %}

