.man-overlay {
     background-color: #FFF0F0;
     bottom: 0pt;
     left: 0pt;
     opacity: 0.95;
     position: fixed;
     right: 0pt;
     top: 0pt;
     z-index: 1000;
}

.man-controls {
     background: none repeat scroll 0pt 0pt #333333;
     color: #DDDDDD;
     font-size: 40px;
     height: 50px;
     left: 0pt;
     position: fixed;
     right: 0pt;
     text-align: center;
     top: 0pt;
     z-index: 1002;
}

.man-controls h1 {
     color: #FFFFFF;
     font-size: 29px;
     left: 10px;
     margin-top: 14px;
     position: fixed;
}

.man-controls a {
     color: #DDDDDD;
     font-size: 27px;
     margin-top: 18px;
     position: fixed;
     text-decoration: none;
}

.man-controls a:visited {
     color: #DDDDDD;
}

.man-previews {
     background-color: transparent;
     font-family: 'helvetica neue',arial,sans-serif;
     left: 0pt;
     margin-top: 50px;
     opacity: 1;
     position: absolute;
     top: 0pt;
     z-index: 1001;
}

.man-preview {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background-color: white;
     border-color: #E7E7E7;
     border-style: solid;
     border-width: 0pt 1px 1px 0pt;
     float: left;
     height: 230px;
     margin: 0pt;
     opacity: 1;
     padding: 0pt;
     position: relative;
     text-align: center;
     width: 220px;
}

.man-preview img {
     margin-top: 10px;
}

.man-preview span {
     position: absolute;
     top: 210px;
}
